<div class="container__big-card">
  <div class="big-card__photo">
    <img src="https://cdn.pocket-lint.com/r/s/x1920/assets/images/152053-tv-feature-what-is-the-best-order-to-watch-all-the-spider-man-movies-and-shows-image1-lpdrxizmfk.jpg"
     alt=""
     height="200px"
     >
  </div>
  <div class="big-card__title">
    <h1><a href="#">Saiu a nova versao do Angular</a></h1>
  </div>
  <div class="big-card__description">
    <p>
      <a href="#">
        bla bla bla bla bla
      </a>
    </p>
  </div>
</div>
